<?xml version="1.0" encoding="utf-8"?>
<LinearLayout xmlns:android="http://schemas.android.com/apk/res/android"
    android:orientation="vertical"
    android:layout_width="match_parent"
    android:layout_height="match_parent"
    android:background="@color/creme"
    android:weightSum="1.0">
    <LinearLayout
        android:layout_width="match_parent"
        android:layout_height="0px"
        android:layout_weight="0.1"
        android:background="@drawable/bloc_degrade_jaune"
        android:orientation="horizontal"
        android:weightSum="1.0">
        <LinearLayout
            android:layout_width="0px"
            android:layout_height="match_parent"
            android:layout_weight="0.2">
            <ImageView
                android:layout_width="match_parent"
                android:layout_height="match_parent"
                android:src="@drawable/logo_icon_128x128" />
        </LinearLayout>
        <LinearLayout
            android:layout_width="0px"
            android:layout_height="match_parent"
            android:layout_weight="0.8"
            android:layout_gravity="center_vertical"
            android:gravity="center_vertical">
            <TextView
                android:id="@+id/applicationTitle"
                android:layout_width="match_parent"
                android:layout_height="match_parent"
                android:textColor="@color/creme"
                android:textSize="20sp"
                android:layout_gravity="center_horizontal"
                android:gravity="center_vertical"
                android:layout_marginLeft="20dp" />
        </LinearLayout>
    </LinearLayout>
    <LinearLayout
        android:layout_width="match_parent"
        android:layout_height="0px"
        android:layout_weight="0.8"
        android:background="@color/creme"
        android:orientation="vertical"
        android:weightSum="1.0">
        <LinearLayout
            android:layout_width="match_parent"
            android:layout_height="0px"
            android:layout_weight="0.5"
            android:orientation="vertical"
            android:weightSum="1.0">
            <LinearLayout
                android:layout_width="match_parent"
                android:layout_height="0px"
                android:layout_weight="0.8"
                android:orientation="vertical"
                android:weightSum="1.0">
                <ImageView
                    android:id="@+id/myHorodateurImageView"
                    android:layout_width="match_parent"
                    android:layout_height="match_parent"
                    android:src="@drawable/btnstationn"
                    android:gravity="center_horizontal" />
            </LinearLayout>
            <LinearLayout
                android:layout_width="match_parent"
                android:layout_height="0px"
                android:layout_weight="0.2"
                android:orientation="vertical"
                android:weightSum="1.0">
                <TextView
                    android:id="@+id/myHorodateurString"
                    android:layout_width="match_parent"
                    android:layout_height="match_parent"
                    android:gravity="center_horizontal" />
            </LinearLayout>
        </LinearLayout>
        <LinearLayout
            android:layout_width="match_parent"
            android:layout_height="0px"
            android:layout_weight="0.5"
            android:orientation="vertical"
            android:weightSum="1.0">
            <LinearLayout
                android:layout_width="match_parent"
                android:layout_height="0px"
                android:layout_weight="0.8"
                android:orientation="vertical"
                android:weightSum="1.0">
                <ImageView
                    android:id="@+id/myEmplacementImageView"
                    android:layout_width="match_parent"
                    android:layout_height="match_parent"
                    android:src="@drawable/btnstationn"
                    android:gravity="center_horizontal" />
            </LinearLayout>
            <LinearLayout
                android:layout_width="match_parent"
                android:layout_height="0px"
                android:layout_weight="0.2"
                android:orientation="vertical"
                android:weightSum="1.0">
                <TextView
                    android:id="@+id/myEmplacementString"
                    android:layout_width="match_parent"
                    android:layout_height="match_parent"
                    android:text="footer"
                    android:gravity="center_horizontal" />
            </LinearLayout>
        </LinearLayout>
    </LinearLayout>
    <LinearLayout
        android:layout_width="match_parent"
        android:layout_height="0px"
        android:layout_weight="0.03"
        android:background="@color/creme"
        android:orientation="vertical"
        android:weightSum="1.0" />
    <LinearLayout
        android:layout_width="match_parent"
        android:layout_height="0px"
        android:layout_weight="0.07"
        android:background="@color/creme"
        android:orientation="vertical"
        android:weightSum="1.0">
        <ImageView
            android:layout_width="match_parent"
            android:layout_height="match_parent"
            android:src="@drawable/footer" />
    </LinearLayout>
</LinearLayout>