﻿<?xml version="1.0" encoding="utf-8"?>
<selector xmlns:android="http://schemas.android.com/apk/res/android">
    <item android:drawable="@drawable/button_main_page_my_mob_pressed"
          android:state_pressed="true" />
    <item android:drawable="@drawable/button_main_page_my_mob_pressed"
          android:state_focused="true" />
    <item android:drawable="@drawable/button_main_page_my_mob_normal" />
</selector>

